* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF6E0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/*Header*/

.site-header {
    display: flex;
    height: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-button {
    text-decoration: none;
    font-weight: bold;
    color: #124559;
    margin: 5px;
}
.header-button:hover {
    color: #598392;
}

.header-name {
    color: #598392;
    font-family: 'Brush Script MT', cursive;
    font-size: 2.5em;
    user-select: none;
}

/*Content*/

.site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.linkedin-logo {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color:rgb(0, 0, 0);
}


.contact-content {
    display: flex;
    flex-wrap: wrap;
}

.Email {
    margin-top: 5px;
}

h2 {
    color: #598392;

    margin: 10px;
}

.linkedin-logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, filter 0.3s ease;
}



