* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
}

/** General classes */

.stylized-blue {
    color: #009bd8;
}

.stylized-blue-background {
    background-color: #009bd8 !important;
    color: white;
}

.stylized-blue-fill {
    fill: #009bd8;
}

.stylized-blue-border {
    border: 2px solid #009bd8 !important;
}

.background-color {
    background-color: #ffffff;    
}

.h-35 {
    height: 35%;
}

.transition {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/** Specific classes */

.icon-circle {
    height: 100%;
    aspect-ratio: 1;
}

.picture-size {
    max-height: 100%;
    width: auto;
}

.flag-icon {
    width: 20px;
    height: 20px;
}

.button-animation {
    transform: translateZ(0);
    backface-visibility: hidden;
}

.button-animation:hover {
    background-color: #007bbf !important;
    transform: translateZ(0) scale(1.05);
    cursor: pointer;
}

.button-animation:active {
    transform: translateZ(0) scale(0.95);
}