* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
}

/** General classes */

.stylized-blue {
    color: #009bd8;
}

.stylized-blue-background {
    background-color: #009bd8 !important;
    color: white;
}

.stylized-blue-fill {
    fill: #009bd8;
}

.stylized-blue-border {
    border-color: #009bd8 !important;
}

.background-color {
    background-color: #ffffff;    
}

/** Specific classes */

.picture-size {
    width: clamp(250px,18%, 600px);
}

.flag-icon {
    width: 20px;
    height: 20px;
}
