/* Reset margins and paddings */
.marginless {
    margin: 0;
}

.font {
    font-family: Arial, sans-serif;
}

/* Center text with Arial font and white color */
.center {
    padding-left: 20px;
    text-align: center;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style for the header */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #0097b2; /* Set background color */
}

.blue {
    background-color: #0097b2;
    color:white;
}

/*Image style*/

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

.btn {
    border: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom:10px;
    background-color: #0097b2;
    border-radius: 0px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition-property: transform, background-color, border-radius;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.btn:hover {
    background-color: #34bac1;
    border-radius: 5px;
    transform: translateY(-5px);
}

.border {
    border: 1px solid black;
}

