* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF6E0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

 /*Header*/

 .site-header {
    display: flex;
    height: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-button {
    text-decoration: none;
    font-weight: bold;
    color: #124559;
    margin: 5px;
}
.header-button:hover {
    color: #598392;
}

.header-name {
    color: #598392;
    font-family: 'Brush Script MT', cursive;
    font-size: 2.5em;
    user-select: none;
}

@media screen and (min-width: 1076px) and (min-height: 630px) {

    /*Content*/

    .site-content {
        display: flex;
        height: 90vh;
    }

    .profile-picture {
        height: 70%;
        width: 65%;
        object-fit: cover;
        transform: rotate(5deg);
        border: 2px solid #598392;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:start;
        width: 50vw;
        height: 100%;
        padding-left:100px ;
    }

    .image-container {
        width:50vw;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .content-title {
        color: #8B635C;
        width:65%;
        font-size: 4em;
        font-family: 'Bradley Hand', cursive;
        font-weight: 600;
        text-align: start;
        text-justify: inter-word;
        padding-bottom: 20px;
    }

    .content-text {
        text-align:justify;
        line-height: 1.5em;
        padding-right: 200px;
        padding-bottom: 20px;

    }

    .content-button {
        background-color: #598392;
        color: white;
        font-weight: bold;
        font-family: 'Bradley Hand', cursive;
        font-size: 1em;
        padding:8px;
        transform:scale(1);
        transition-property: transform, background-color;
        transition-duration: 0.2s;
        transition-behavior: ease;

    }

    .content-button:hover {
        background-color: #8B635C;
        transform: scale(1.1);
    }
}


@media screen and (max-width: 1076px), screen and (max-height: 630px) {

    .site-header {
        height: 12vh;
    }

    .site-content {
        display: flex;
        flex-direction: column;
        height: 88vh;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .profile-picture {
        height: 100%;
        width: 90%;
        object-fit: cover;
        border: 2px solid #598392;
    }

    .content-title {
        color: #8B635C;
        width:65%;
        font-size: 2em;
        font-family: 'Bradley Hand', cursive;
        font-weight: bold;
        text-align: center;
        text-justify: inter-word;
        padding-bottom: 10px;
    }

    .content-text {
        text-align:justify;
        line-height: 1.25em;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .content-button {
        background-color: #598392;
        color: white;
        font-weight: bold;
        font-family: 'Bradley Hand', cursive;
        font-size: 1em;
        padding:8px;
        transform:scale(1);
        transition-property: transform, background-color;
        transition-duration: 0.2s;
        transition-behavior: ease;

    }

    .content-button:hover {
        background-color: #8B635C;
        transform: scale(1.1);
    }

}
